:root {
    --main-font: 'Satisfy', cursive;
    --secondary-font: 'Poiret One', cursive;
    --glowing-color: #E9007F;
    --background-color : #191825;
    --bezier-value: cubic-bezier(0.45, 0.05, 0.55,0.95);
}
.container {
    width: 650px;
    height: 650px;
    box-sizing: border-box;
    background-color: red;    
}
.grid-row {
    display: flex;
}
.grid-cube {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
}